<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <h1>Sign Up</h1>
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">First Name</label>
                    <input [(ngModel)]="fname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="exampleFormControlInput1"  placeholder="first name" >
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                    <input [(ngModel)]="lname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="exampleFormControlInput2" placeholder="last name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleFormControlInput4" placeholder="******">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input [(ngModel)]="password1" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleFormControlInput5" placeholder="******">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput6">
                </div>
                <button type="button" class="btn btn-success float-end" (click)="handleSignup" (click)="displayUser">Sign Up</button>
            </form>
            
        </div>
    </div>
    
</div>